* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;
}

body {
  background-color: var(--main-color);
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
}

/* Some Global Classes For icons */
.bi-pencil-square {
  color: var(--green-sea-color);
  margin-right: 15px;
}

.bi-trash-fill {
  color: var(--red-color);
}

/* Scrollbar Classes For Google Chrome */
html::-webkit-scrollbar {
  width: 12px;
}

html::-webkit-scrollbar-track {
  background-color: rgb(187, 179, 179);
}

html::-webkit-scrollbar-thumb {
  background-color: var(--dark-color);
  border-radius: 15px;
}

/* في ملف App.css أو global.css */
.main-app-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  /* flex: 1; */
  padding-top: 90px; /* مساحة للهيدر الثابت */
}

/* تأكد أن الصفحات تأخذ المساحة الكاملة */
.page-wrapper {
  min-height: calc(100vh - 80px);
  width: 100%;
}
